:root {
    --verde: #2AA65A;
    --limon: #8DC63F;
    --amarillo: #FFF200;
    --naranja: #FAA61A;
    --rosa: #D80B8C;
    --morado: #92278F;
    --marino: #2E3192;
    --azul: #0072BC;

    --primary: var(--morado);
    --secondary: var(--rosa);
    --cta: var(--rosa);
}


.padding{
    padding: 0 100px 0 100px;
}
.bienvenida{
    margin-bottom: 50px;
}
.bienvenida a{
    margin-top: 20px;
    color: #fff;
    background: var(--rosa);
    display: inline-block;
    padding: 10px 30px 10px 30px;
    box-shadow: 2px 5px 2px 0 #aaa8a8;
    border-radius: 10px;
}
.bienvenida a:hover{
    background: #ab0f72;
}

/*-----------------------------*/
/*-------SOCIAL-NETWORKS------*/
/*---------------------------*/

.social{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
    padding: 20px 200px 20px 520px;
}
.socialFb{
    grid-area: socialFb;
}
.socialLk{
    grid-area: socialLk;
}
.socialTw{
    grid-area: socialTw;
}
.social img{
    width: 25px;
    margin-right: 20px;
}
.social a{
    font-size: 1.2em;
}
.social a:hover{
    color: var(--rosa);
}

/*---------------------------*/
/*-----RESPONSIVE 800-------*/
/*-------------------------*/

@media screen and (max-width: 800px){
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 200px 20px 200px;
}

/*---------------------------*/
/*------RESPONSIVE 600------*/
/*-------------------------*/

@media screen and (max-width: 600px){
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 50px 20px 130px;
}
.social a{
    font-size: 1.06em;
}

/*---------------------------*/
/*------RESPONSIVE 500------*/
/*-------------------------*/

@media screen and (max-width: 500px){
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 20px 50px 20px 92px;
}
.social a{
    font-size: 1.06em;
}

/*---------------------------*/
/*------RESPONSIVE 370------*/
/*-------------------------*/

@media screen and (max-width: 370px){
.social{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "socialFb"      
                         "socialLk"
                         "socialTw";
   padding: 10px;
}
.social a{
    font-size: 0.90em;
}
}
